.main-content .section-dark.projects {
    padding: 4vmin 10vmin 10vmin 10vmin;
  }
  
  @media (max-width: 599px) {
    .main-content .section-dark.projects {
      padding: 75px 20px;
    }
  }
  
  .main-content .section-dark.projects .work-item {
    margin-bottom: 1rem;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);
  }
  
  .main-content .section-dark.projects .work-item:hover {
    -webkit-transform: scale(1.055) translateY(-2px);
    transform: scale(1.055) translateY(-2px);
    -webkit-box-shadow: 0 2px 25px 0 rgba(30, 30, 30, 0.1);
    box-shadow: 0 2px 25px 0 rgba(30, 30, 30, 0.1);
  }