.main-content .section-dark.resume button {
    /* main black/grey: #43485c originally */
      border: 2px solid #313533;
    /* color 2: white (originally)*/
    /* background: rgb(162, 196, 247); */
    background: #16515C;
    /* main black/grey: #43485c originally */
    color: #313533;
    height: 50px;
    width: 250px;
    font-size: 1rem;
    text-transform: uppercase;
  }
  
  .main-content .section-dark.resume .fa-download {
      /* color 3: #1f2c6c (originally) */
      color: rgb(108, 31, 63);
  }
  
  a.button {
    /* color 3: #1f2c6c (originally) */
    color: azure;
    background-color: #16515C !important;
}

.subtitle {
  color: azure !important;
}

.point-to-button {
  animation: updown 2s ease infinite;
  font-size: 10vmin;
  text-align: center;
  width: 100%;
}

@keyframes updown {
  0% {
    transform: translateY(-26%);
  }
  50% {
    transform: translateY(-4%);
  }
  100% {
    transform: translateY(-26%);
  }
}

.download-button-area {
  display: flex;
  flex-flow: column;
  margin: auto;
}

.point-icon-area {
  display: inline-block;
  text-align: center;
}