.main-content .section-light {
    padding: 30px;
  }
  
  .main-content .section-light.about-me {
    padding-bottom: 100px;
  }
  
  .main-content .section-light.about-me .is-larger {
    font-size: 1.2rem;
  }
  
  @media (max-width: 599px) {
    .main-content .section-light.about-me .about-links {
      text-align: center;
    }
  }
  
  .main-content .section-light.about-me .right-image img {
    border-radius: 11px;
    margin: 20px;
    box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);
  }
  
  @media (max-width: 599px) {
    .main-content .section-light.about-me .right-image img {
      margin: auto;
    }
  }
  
  .main-content .section-light.skills {
    padding: 100px;
  }
  
  @media (max-width: 599px) {
    .main-content .section-light.skills {
      padding: 50px 20px 40px 20px;
      padding-bottom: 20px;
    }
    hr.custom-hr {
      display: none
    }
    .has-image-centered {
      margin-bottom: 20vmin
    }
  }
  
  .main-content .section-light.skills h1 {
    padding: 10px;
  }
  
  /* .main-content .section-light.contact {
    padding: 200px;
  }
  
  .main-content .section-light.contact button {
    width: 100%;
    background-color: #313533;
    color: #16515C;
    height: 50px;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
  } */
  
  @media (max-width: 599px) {
    .main-content .section-light.contact {
      padding: 60px 20px;
    }
  }

.image-centered {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.main-text, .personal-claim, .about-links {
  color: azure;
  font-size: 120%;
}

.personal-claim {
  /* background-color: rgb(108, 31, 63); */
  color: orange;
  font-family: 'Shadows Into Light', Lato, Tahoma, sans-serif;
  font-size: 150%;
  letter-spacing: 0.1em;
}

.about-links {
  margin-top: 2vmin;
}

.section-subtitle {
  color: orange;
  text-align: center;
}

progress[value]::-webkit-progress-value {
  background-color: orange;
}

.skill-label {
  color: azure;
}

hr.custom-hr {
  border: 0;
  height: 0;
  box-shadow: 0 0 10px 1px orange;
  width: 80%;
  margin: 20vmin;
}

hr.custom-hr:after {
  content: "\00a0";
}