@media(min-width: 600px) {
    .AboutThisPage {
        margin: 0 20vmin;
    }
}


.pag-content {
color:azure;
}

.pag-pane {
display: none;
}

.cent{
display: block;
margin: 10px auto;
padding: 5px;
border: 1px solid azure}
