/* proposed color schema: palette from astronaut image */
/* 
   primary-dark-green:  #16515C
   primary-dark-grey: #203139
   secondary-grey: #656E74
   secondary-red: #D77579
*/

@import url("https://fonts.googleapis.com/css?family=Lato|Raleway|Space+Mono|Shadows+Into+Light");
.has-vertically-aligned-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Raleway', Lato, Tahoma, sans-serif;
  width: 100%;
  min-height: 100%;
  background-color: #203139;
}

.footer {
  bottom: 0;
  width: 100%;
  padding: 0;
  height: 8em;
  line-height: 25px;
  text-align: center;
  /* background: rgb(108, 31, 63); */
  background: #16515C;
  color: azure;
  padding-top: 2rem;
}

.footer a {
  padding: 0rem 1rem 1rem 1rem;
  color: azure
}

.footer a i {
  font-size: 1.5rem;
  padding: 0px 10px;
}

.footer a .nav-item {
    color: azure
}


::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(245, 245, 245, 0);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(108, 31, 63);
}

strong {
  color: orange;
}

@media (max-width: 599px) {
  .footer {
    padding: 2vmin 20vmin;
  }
}